.ant-pro-form-login-page-top {
    margin-top: -2%;
}
.ant-pro-form-login-page-title {
    font-size: 25px;
}

.ant-pro-form-login-page-notice {
    background-image: url(http://boot3.jeecg.com/assets/jeecg_ad.93fbfa48.png);
}