.tree-options {
    Text-align: right;
    /* color: chartreuse;
    font-size: 100px; */
}
.ant-tabs-nav-container {
    height:700px;
    overflow-y:scroll;
}
.div.container {
    border: 2px solid red;
    border-radius:15px;
}