.tree-options {
  text-align: right;
  /* color: chartreuse;
    font-size: 100px; */
}
.ant-tabs-nav-container {
  /* height:500px; */
  /* overflow-y:scroll; */
  height: 100%;
}
.divsss {
  height: 700px;
  overflow-y: scroll;
}
